/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital@1&family=Poppins:wght@500&family=Raleway:ital@0;1&family=Roboto+Condensed&family=Teko&family=Work+Sans&display=swap');

/* common styles or utilities */
body{
  font-family: 'Poppins', sans-serif;
}
main, header{
  padding-left: 120px;
  padding-right: 120px;
}

/* header styles */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title h2{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}
.header-link{
  display: flex;
  justify-content: space-between;
  gap: 34px;
}
.header-link a,li{
  text-decoration: none;
  list-style: none;
  color: #3A3A3A;
  font-size: 16px;
  font-weight: 600;
}
main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* banner section styles */
.banner-section{
  padding-left: 40px;
  padding-right: 40px;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.banner-info .banner-title{
  color: #3A3A3A;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.banner-info .banner-description{
  color: #3A3A3A;
  font-size: 16px;
  padding: 16px;
}
.banner-info a{
  text-decoration: none;
  width: 196px;
  height: 44px;
  border-radius: 41px;
  background: #E02C6D;
  color: #FFFFFF;
  padding: 10px 24px;
  font-size: 16px;
}
.banner .banner-thumbnail img{
  width: 440px;
  height: 414px;
  padding-top: 50px;
  padding-bottom: 112px;
}

/* brand section styles */
.brand-section{
  padding-left: 120px;
  padding-right: 120px;
}
hr{
  width: 100%;
  height: 1px solid gray;
  margin-top: 35px;
}
.brands{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brands .brand-thumbnail{
  color: #FF6600;
  width: 55PX;
  height: 31px; 
}

/* products section styles */
.product-section{
  margin-top: 100px;
  background: #F0F0F0;
  margin-left: 35px;
  border-radius: 5px;
}
.product-section a{
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
  font-size: 16px;
  font-weight: 700;
  margin-left: 89%;
}
.products-title{
  font-size: 28px;
  font-weight: 600;
  color: #3A3A3A;
  text-align: center;
  padding-bottom: 45px;
}
.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  padding-bottom: 50px;
}
.product{
  width: 305px;
  height: 476px;
  padding: 17px 15px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.product-thumbnail img{
  width: 300px;
  height: 256px;
  border-radius: 5px;
}
.product .product-title{
  font-size: 28px;
  line-height: 0.9;
}
.product .product-amount{
  font-size: 24px;
  font-weight: 400;
  line-height: 0.9;
}
.product .product-rating{
  color: #FB8200;
}
.product .product-rating span{
  color: #5E6366;
  font-size: 14px;
}
.product .product-info{
  line-height: 1;
  color:#787885;
  font-size: 14px;
  letter-spacing: 0.252px;
}

/* features section styles */
.feature-section{
  margin-top: 100px;
  margin-left: 35px;
  padding-bottom: 100px;
}
.features{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.features .feature-thumbnail img{
  width: 404px;
  height: 270px;
  border-radius: 7px;
}
.feature-title{
  font-size: 38px;
  font-weight: 700;
  color: #0A0826;
}
.feature-description{
  color: #6C6C6C;
  font-size: 16px;
  line-height: 28px;

}
.feature-info a{
  width: 155px;
  height: 40px;
  padding: 10px 24px;
  background: #E02C6D;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

/* footer section styles */
.footer-section{
  width: 50%;
  height: 239px;
  border-radius: 5px;
  padding-top: 50px;
  padding-left: 598px;
  padding-right: 598px;
  background: #0A0826;
  color: #FFFFFF;
}
.footer-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 0.9;
}
.footer-info .copyright{
  font-size: 14px;
  line-height: 0.9;
}
.footer-info .copyright-1{
  font-size: 14px;
  line-height: 0.9;
  padding-left: 50px;
}
.footer-link{
  display: inline-flex;
  gap: 20px;
  padding-left: 40px;
  padding-bottom: 50px;
}
.footer-link a{
  color: #FFFFFF;
  text-decoration: none; 
}